[Unit]
Description=Digital Signage software update
Documentation=man:systemd.service(5)
After=network-online.target
Wants=network-online.target
ConditionPathExists=/etc/signage/signage.conf

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/signage-update
